2025/mulesoft-salesforce-integration/accountapi/src/main/mule/accountapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="accountapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="accountapi-config" api="accountapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="accountapi-main">
        <http:listener config-ref="accountapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="accountapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="accountapi-console">
        <http:listener config-ref="accountapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accountapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:accountapi-config">
        <logger level="INFO" message="get:\accounts:accountapi-config" />
		<salesforce:query doc:name="Query" doc:id="0dd6d813-0014-4241-8387-31e87fb798a6" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Id, Name FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="fbbc0a56-c51b-4733-a5bb-4496a6d658a5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( item , indexOfItem ) -> {
	Id: item.Id,
	Name: item.Name default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="delete:\accounts:accountapi-config">
        <logger level="INFO" message="delete:\accounts:accountapi-config" />
		<salesforce:delete doc:name="Delete" doc:id="c8f74863-779a-4dd1-b9cd-84c3552c6602" config-ref="Salesforce_Config">
			<salesforce:ids><![CDATA[#[%dw 2.0
output application/java
---
[attributes.queryParams.AccountId]]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="Transform Message" doc:id="9b62fc39-9dc6-48b1-b7d1-8f7bd3099efc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items[0].message]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-null doc:name="Is null" doc:id="6e7e69bd-3f4b-4dc6-9d08-a9f27142198f" value="#[%dw 2.0&#10;output application/java&#10;---&#10;payload]" />
    </flow>
	<flow name="post:\accounts:application\json:accountapi-config">
        <logger level="INFO" message="post:\accounts:application\json:accountapi-config" />
		<salesforce:create doc:name="Create" doc:id="fcce20d1-44b3-40d1-9df5-5f93e78be6da" config-ref="Salesforce_Config" type="Account">
			<salesforce:records><![CDATA[#[output application/java
---
payload map ( item , indexOfItem ) -> {
	Name: item.Name
}]]]></salesforce:records>
		</salesforce:create>
		<ee:transform doc:name="Transform Message" doc:id="984f5939-4220-4b1b-860f-79d90b0b34be">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items map (item, index) -> {
	Id: item.id,
	message: item.message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-null doc:name="Is null" doc:id="a74f46d7-6986-48f7-9050-30f6096ac064" value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload reduce ((item, acc = null) -&gt; acc default item.message)]" />
    </flow>
	<flow name="put:\accounts:application\json:accountapi-config">
        <logger level="INFO" message="put:\accounts:application\json:accountapi-config" />
		<salesforce:invoke-apex-rest-method doc:name="Invoke apex rest method" doc:id="9ff4d84e-8a8b-4daa-ac13-b59fd4c038ba" config-ref="Salesforce_Config" className="AccountApi" methodName="doPut^/Account^HttpPut^String">
			<salesforce:request ><![CDATA[#[%dw 2.0
output application/json
---
{
	accountId: payload.Id,
	name: payload.Name
}]]]></salesforce:request>
		</salesforce:invoke-apex-rest-method>
		<ee:transform doc:name="Transform Message" doc:id="9046fc0a-3776-49bc-ba7c-377258036ef6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.doPutOutput]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
